.page-title{
    margin: 0;
    padding: 0;
    font-size: 16rem; 
    font-weight: 700;
    line-height: 1;
    font-family: 'Ubuntu', sans-serif; 
}
.section-title{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}
.red{
    color: var(--red);
} 
.link-to{
    display: block;
    width: fit-content;
    color: var(--red);
    font-size: 14px;
    font-weight: 500;
}
a{
    color: var(--red);
}
.btn{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 18px 40px;
    width: fit-content;
    min-height: 52px;
    border-radius: 8px;
    background-color: var(--red);
    color: var(--bg);
    font-size: 18px;
    line-height: 1.14px;
    font-weight: 500;
    transition: var(--great-transition);
    &:hover{
        text-decoration: none;
        background-color: #F6294C;
    }
    &[disabled="disabled"]{
        background-color: #414952;
        cursor:auto;
    }
}
// .section-title{
//     font-size: 4rem;
//     line-height: 1.5;
//     font-weight: 700;
//     margin-bottom: 4rem;
// }
// .section-title--partners{
//     margin-top: 10rem;
//     margin-bottom: 3rem;
// }
// .test{
//     height: 200vh;
//     background-color: red;
// }
// .test2{
//     height: 100vh;
//     background-color: rgb(85, 255, 0);
// }
// .test3{
//     height: 100vh;
//     background-color: rgb(255, 0, 153);
// }
// .test4{
//     height: 100vh;
//     background-color: rgb(0, 0, 255);
// }