@media screen and (max-height: 950px){ 
    #header .helicopter{
        position: absolute;
        bottom: 2%;
        left: 50%; 
        transform: translateX(-56%); 
        height: 85%;
        z-index: 4;
    } 
}
@media screen and (min-height: 1360px){
    .img-page-title { 
        top: 14.5%; 
    }
}

// -------------------------------

@media screen and (max-width: 999px){
    .section-title{
        font-size: 32px;
    }
}
@media screen and (max-width: 950px){
    body{
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
    }
}
@media screen and (max-width: 600px){
    body{
        font-size: 14px;
    }
    .section-title{
        font-size: 24px;
    }
    .btn{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .inner { 
        padding: 0 14px;
    }
}